@model Item
<!DOCTYPE html>
<html lang="zxx">
<head>
    <!-- Meta Tag -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="copyright" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Title Tag  -->
    <title>Eshop - eCommerce HTML5 Template.</title>
    <!-- Favicon -->
    <link rel="icon" type="image/png" href="/images/favicon.png">
    <!-- Web Font -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&amp;display=swap" rel="stylesheet">

    <!-- StyleSheet -->
    <!-- Bootstrap -->
    <link rel="stylesheet" href="/css/bootstrap.css">
    <!-- Magnific Popup -->
    <link rel="stylesheet" href="/css/magnific-popup.min.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="/css/font-awesome.css">
    <!-- Fancybox -->
    <link rel="stylesheet" href="/css/jquery.fancybox.min.css">
    <!-- Themify Icons -->
    <link rel="stylesheet" href="/css/themify-icons.css">
    <!-- Nice Select CSS -->
    <link rel="stylesheet" href="/css/niceselect.css">
    <!-- Animate CSS -->
    <link rel="stylesheet" href="/css/animate.css">
    <!-- Flex Slider CSS -->
    <link rel="stylesheet" href="/css/flex-slider.min.css">
    <!-- Owl Carousel -->
    <link rel="stylesheet" href="/css/owl-carousel.css">
    <!-- Slicknav -->
    <link rel="stylesheet" href="/css/slicknav.min.css">

    <!-- Eshop StyleSheet -->
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/css/responsive.css">

    <!-- Color CSS -->
    <link rel="stylesheet" href="/css/color/color1.css">

    <link rel="stylesheet" href="#" id="colors">

</head>
<body class="js">

    <script type="text/javascript">

        function AddToCart(item) {
            var itemId = $(item).attr("itemId");
            var formData = new FormData;
            formData.append("itemId", itemId);

            $.ajax({
                async: true,
                dataType: 'JSON',
                type: 'POST',
                contentType: false,
                processData: false,
                data: formData,
                url: '/Home/Index',
                success: function (data) {
                    if (data.success) {
                        alert(data.message);
                        $.ajax({
                            async: true,
                            dataType: 'HTML',
                            type: 'GET',
                            contentType: false,
                            processData: false,
                            data: formData,
                            url: '/Home/GetCart',
                            success: function (data) {
                                document.getElementById("sinlge-bar shopping").innerHTML = data
                            },
                            error: function () {
                                alert("Something went wrong!");
                            }
                        });
                    }
                },
                error: function () {
                    alert("Something went wrong!");
                }
            });
        }
    </script>
    <!-- Preloader -->
    <div class="preloader" style="display: none;">
        <div class="preloader-inner">
            <div class="preloader-icon">
                <span></span>
                <span></span>
            </div>
        </div>
    </div>
    <!-- End Preloader -->
    <!-- Eshop Color Plate -->
    <!-- /End Color Plate -->
    <!-- Header -->
    <header class="header shop sticky">
        <!-- Topbar -->
        <div class="topbar">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-12 col-12">
                        <!-- Top Left -->
                        <div class="top-left">
                            <ul class="list-main">
                                <li><i class="ti-headphone-alt"></i> +060 (800) 801-582</li>
                                <li><i class="ti-email"></i> support@shophub.com</li>
                            </ul>
                        </div>
                        <!--/ End Top Left -->
                    </div>
                    <div class="col-lg-6 col-md-12 col-12">
                        <!-- Top Right -->
                        <div class="right-content">
                            <ul class="list-main">
                                <li><i class="ti-location-pin"></i> Store location</li>
                                <li><i class="ti-alarm-clock"></i> <a href="#">Daily deal</a></li>
                                <!--////////////-->
                                @{
                                    var users = new List<EShopCore3.Models.User>();
                                    var usersSession = Context.Session.Get<List<User>>("userAccount");
                                    if (usersSession != null)
                                    {
                                        users = usersSession;
                                    }
                                    if (usersSession == null)
                                    {
                                        <li>
                                            <div class="sinlge-bar shopping">
                                                <a href="#" class="single-icon"><i class="ti-user"></i> <span class="total-count">My Account</span></a>
                                                <!-- Shopping Item -->
                                                <div class="shopping-item">
                                                    <div class="dropdown-cart-header">
                                                        <a href="/Users/MyAccount">View My account</a>
                                                    </div>
                                                    <ul class="shopping-list">
                                                        <li>
                                                            <a class="cart-img" href="#"><img src="https://via.placeholder.com/70x70" alt="#"></a>
                                                            <p><span class="amount">Hello User</span></p>
                                                        </li>
                                                    </ul>
                                                    <div class="bottom">
                                                        <span></span>
                                                        <a href="/Users/Login" class="btn animate">Login</a>
                                                    </div>
                                                </div>
                                                <!--/ End Shopping Item -->
                                            </div>
                                        </li>
                                    }
                                    else
                                    {
                                        foreach (var item in users)
                                        {
                                            <li id="Account">
                                                <div class="sinlge-bar shopping">
                                                    <a href="#" class="single-icon"><i class="ti-user"></i> <span class="total-count">My Account</span></a>
                                                    <!-- Shopping Item -->
                                                    <div class="shopping-item">
                                                        <div class="dropdown-cart-header">
                                                            <a href="/Users/MyAccount">View My account</a>
                                                        </div>
                                                        <ul class="shopping-list">
                                                            <li>
                                                                <a class="cart-img" href="#"><img src="@item.UserPhoto" alt="#"></a>
                                                                <p><span class="amount">Welcome @item.UserName</span></p>
                                                            </li>
                                                        </ul>
                                                        <div class="bottom">
                                                            <span></span>
                                                            <a href="/Users/Logout" class="btn animate">Logout</a>
                                                        </div>
                                                    </div>
                                                    <!--/ End Shopping Item -->
                                                </div>
                                            </li>
                                        }
                                    }
                                }
                            </ul>
                        </div>
                        <!-- End Top Right -->
                    </div>
                </div>
            </div>
        </div>
        <!-- End Topbar -->
        <div class="middle-inner">
            <div class="container">
                <div class="row">
                    <div class="col-lg-2 col-md-2 col-12">
                        <!-- Logo -->
                        <div class="logo">
                            <a href="index.html"><img src="/images/logo.png" alt="logo"></a>
                        </div>
                        <!--/ End Logo -->
                        <!-- Search Form -->
                    </div>
                    <div class="col-lg-8 col-md-7 col-12">

                        @using (Html.BeginForm("SearchItems", "Home", FormMethod.Get))
                        {
                            <div class="search-bar-top">
                                <div class="search-bar">
                                    <div class="col-md-4">
                                        @Html.DropDownList("categoryItem", "All")
                                    </div>
                                    <div class="row">
                                        <div class="col-md-8">
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <div class="input-group-btn">
                                                        <input type="text" placeholder="Search here..." class="form-control" id="searchItem" name="searchItem" />
                                                        <button value="Search" class="btn btn-primary" type="submit"><i class="ti-search"></i></button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                    <div class="col-lg-2 col-md-3 col-12">
                        <div class="right-bar">
                            <!-- Search Form -->
                            <div class="sinlge-bar">
                                <a href="#" class="single-icon"><i class="fa fa-heart-o" aria-hidden="true"></i></a>
                            </div>
                            <div class="sinlge-bar">
                                <a href="#" class="single-icon"><i class="fa fa-user-circle-o" aria-hidden="true"></i></a>
                            </div>
                            <!--////////////-->
                            @{
                                var cart = new List<EShopCore3.ViewModels.CartViewModel>();
                                var itemsSession = Context.Session.Get<List<CartViewModel>>("cartItems");
                                if (itemsSession != null)
                                {
                                    cart = itemsSession;
                                }
                                <div class="sinlge-bar shopping" id="sinlge-bar shopping">
                                    @{
                                        decimal viewNumInCart = 0;
                                        foreach (var item in cart)
                                        {
                                            viewNumInCart += item.Quantity;
                                        }
                                        <a href="#" class="single-icon"><i class="ti-bag"></i> <span class="total-count">@viewNumInCart</span></a>}
                                    <!-- Shopping Item -->
                                    <div class="shopping-item">
                                        <div class="dropdown-cart-header">
                                            @{
                                                decimal numItemInCart = 0;
                                                foreach (var item in cart)
                                                {
                                                    numItemInCart += item.Quantity;
                                                }
                                                if (numItemInCart > 1)
                                                {
                                                    <span>@numItemInCart Items</span>
                                                }
                                                else
                                                {
                                                    <span>@numItemInCart Item</span>
                                                }
                                            }
                                            <a href="/Home/Cart">View Cart</a>
                                        </div>
                                        <ul class="shopping-list">
                                            @{
                                                decimal totalCash = 0;
                                                foreach (var item in cart)
                                                {
                                                    totalCash += item.Total;
                                                    <li>
                                                        <a href="#" class="remove" title="Remove this item"><i class="fa fa-remove"></i></a>
                                                        <a class="cart-img" href="#"><img src="@item.ImagePath" alt="#"></a>
                                                        <h4><a href="#">@item.ItemName</a></h4>
                                                        @if (item.PromoPrice != 0)
                                                        {
                                                            <p class="quantity">@item.Quantity x - <span class="amount">$@item.PromoPrice</span></p>
                                                        }
                                                        else
                                                        {
                                                            <p class="quantity">@item.Quantity x - <span class="amount">$@item.UnitPrice</span></p>
                                                        }
                                                    </li>
                                                }
                                            }
                                        </ul>
                                        <div class="bottom">
                                            <div class="total">
                                                <span>Total</span>
                                                <span class="total-amount">$@totalCash</span>
                                            </div>
                                            @{
                                                if (usersSession != null)
                                                {
                                                    <a href="/Home/CheckoutLoggedIn" class="btn animate">Checkout</a>
                                                }
                                                else
                                                {
                                                    <a href="/Users/Login" class="btn animate">Checkout</a>
                                                }
                                            }
                                        </div>
                                    </div>
                                    <!--/ End Shopping Item -->
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Header Inner -->
        <div class="header-inner">
            <div class="container">
                <div class="cat-nav-head">
                    <div class="row">
                        <div class="col-12">
                            <div class="menu-area">
                                <!-- Main Menu -->
                                <nav class="navbar navbar-expand-lg">
                                    <div class="navbar-collapse">
                                        <div class="nav-inner">
                                            <ul class="nav main-menu menu navbar-nav">
                                                <li><a href="/Home/Index">Home</a></li>
                                                <li><a href="/Home/Product">Product</a></li>
                                                <li><a href="/Home/BlogSingleSidebar">Blog Single Sidebar</a></li>
                                                <li><a href="/Home/Contact">Contact Us</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </nav>
                                <!--/ End Main Menu -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--/ End Header Inner -->
    </header>
    <!--/ End Header -->
    <!-- Breadcrumbs -->
    <div class="breadcrumbs">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="bread-inner">
                        <ul class="bread-list">
                            <li><a href="/Home/Index">Home<i class="ti-arrow-right"></i></a></li>
                            <li class="active"><a href="#">Item Details</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Breadcrumbs -->
    <!-- Shop Single -->
    <section class="shop single section">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="row">
                        <div class="col-lg-6 col-12">
                            <!-- Product Slider -->
                            <div class="product-gallery">
                                <!-- Images slider -->
                                <div class="flexslider-thumbnails">
                                    <div class="flex-viewport" style="overflow: hidden; position: relative;">
                                        <ul class="slides">
                                            <li>
                                                <img src="@Model.URL1" width="200" height="200" alt="#">
                                            </li>
                                            <li>
                                                <img src="@Model.URL2" width="200" height="200" alt="#">
                                            </li>
                                        </ul>
                                    </div>
                                    <ol class="flex-control-nav flex-control-thumbs"><li><img src="@Model.URL1" class=""></li><li><img src="@Model.URL2" class=""></li></ol><ul class="flex-direction-nav"><li><a class="flex-prev" href="#"></a></li><li><a class="flex-next" href="#"></a></li></ul>
                                </div>
                                <!-- End Images slider -->
                            </div>
                            <!-- End Product slider -->
                        </div>
                        <div class="col-lg-6 col-12">
                            <div class="product-des">
                                <!-- Description -->
                                <div class="short">
                                    <h4>@Model.ItemName</h4>
                                    <div class="rating-main">
                                        <ul class="rating">
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star-half-o"></i></li>
                                            <li class="dark"><i class="fa fa-star-o"></i></li>
                                        </ul>
                                        <a href="#" class="total-review">(102) Review</a>
                                    </div>
                                    @{
                                        if (Model.PromoPrice != 0)
                                        {
                                            <p class="price"><span class="discount">$@Model.PromoPrice</span><s>$@Model.ItemPrice</s> </p>
                                        }
                                        else
                                        {

                                            <p class="price"><span class="discount">$@Model.ItemPrice</span> </p>
                                        }
                                    }
                                    <p class="description">@Model.Description</p>
                                </div>
                                <!--/ End Description -->
                                <!-- Color -->
                                <div class="color">
                                    <h4>Available Options <span>Color</span></h4>
                                    <ul>
                                        <li><a href="#" class="one"><i class="ti-check"></i></a></li>
                                        <li><a href="#" class="two"><i class="ti-check"></i></a></li>
                                        <li><a href="#" class="three"><i class="ti-check"></i></a></li>
                                        <li><a href="#" class="four"><i class="ti-check"></i></a></li>
                                    </ul>
                                </div>
                                <!--/ End Color -->
                                <!-- Size -->
                                <div class="size">
                                    <h4>Size</h4>
                                    <ul>
                                        <li><a href="#" class="one">S</a></li>
                                        <li><a href="#" class="two">M</a></li>
                                        <li><a href="#" class="three">L</a></li>
                                        <li><a href="#" class="four">XL</a></li>
                                        <li><a href="#" class="four">XXL</a></li>
                                    </ul>
                                </div>
                                <!--/ End Size -->
                                <!-- Product Buy -->
                                <div class="product-buy">
                                    <div class="quantity">
                                        <h6>Quantity :</h6>
                                        <!-- Input Order -->
                                        <div class="input-group">
                                            <div class="button minus">
                                                <button type="button" class="btn btn-primary btn-number" disabled="disabled" data-type="minus" data-field="quant[1]">
                                                    <i class="ti-minus"></i>
                                                </button>
                                            </div>
                                            <input type="text" name="quant[1]" class="input-number" data-min="1" data-max="1000" value="1">
                                            <div class="button plus">
                                                <button type="button" class="btn btn-primary btn-number" data-type="plus" data-field="quant[1]">
                                                    <i class="ti-plus"></i>
                                                </button>
                                            </div>
                                        </div>
                                        <!--/ End Input Order -->
                                    </div>
                                    <div class="add-to-cart">
                                        <input type="button" name="AddToCart" value="Add to Cart" class="btn btn-primary" itemid="@Model.ItemId" id="btnAddToCart" onclick="AddToCart(this)" />
                                        <a href="#" class="btn min"><i class="ti-heart"></i></a>
                                        <a href="#" class="btn min"><i class="fa fa-compress"></i></a>
                                    </div>
                                    <p class="cat">Category :<a href="#">Clothing</a></p>
                                    <p class="availability">Availability : 180 Products In Stock</p>
                                </div>
                                <!--/ End Product Buy -->
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="product-info">
                                <div class="nav-main">
                                    <!-- Tab Nav -->
                                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                                        <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#description" role="tab">Description</a></li>
                                        <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#reviews" role="tab">Reviews</a></li>
                                    </ul>
                                    <!--/ End Tab Nav -->
                                </div>
                                <div class="tab-content" id="myTabContent">
                                    <!-- Description Tab -->
                                    <div class="tab-pane fade show active" id="description" role="tabpanel">
                                        <div class="tab-single">
                                            <div class="row">
                                                <div class="col-12">
                                                    <div class="single-des">
                                                        <p>simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with deskto</p>
                                                    </div>
                                                    <div class="single-des">
                                                        <p>Suspendisse consequatur voluptates lorem nobis accumsan natus mattis. Optio pede, optio qui metus, delectus! Ultricies impedit, minus tempor fuga, quasi, pede felis commodo bibendum voluptas nisi? Voluptatem risus tempore tempora. Quaerat aspernatur? Error praesent laoreet, cras in fames hac ea, massa montes diamlorem nec quaerat, quos occaecati leo nam aliquet corporis, ab recusandae parturient, etiam fermentum, a quasi possimus commodi, mollis voluptate mauris mollis, quisque donec</p>
                                                    </div>
                                                    <div class="single-des">
                                                        <h4>Product Features:</h4>
                                                        <ul>
                                                            <li>long established fact.</li>
                                                            <li>has a more-or-less normal distribution. </li>
                                                            <li>lmany variations of passages of. </li>
                                                            <li>generators on the Interne.</li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!--/ End Description Tab -->
                                    <!-- Reviews Tab -->
                                    <div class="tab-pane fade" id="reviews" role="tabpanel">
                                        <div class="tab-single review-panel">
                                            <div class="row">
                                                <div class="col-12">
                                                    <div class="ratting-main">
                                                        <div class="avg-ratting">
                                                            <h4>4.5 <span>(Overall)</span></h4>
                                                            <span>Based on 1 Comments</span>
                                                        </div>
                                                        <!-- Single Rating -->
                                                        <div class="single-rating">
                                                            <div class="rating-author">
                                                                <img src="images/comments1.jpg" alt="#">
                                                            </div>
                                                            <div class="rating-des">
                                                                <h6>Naimur Rahman</h6>
                                                                <div class="ratings">
                                                                    <ul class="rating">
                                                                        <li><i class="fa fa-star"></i></li>
                                                                        <li><i class="fa fa-star"></i></li>
                                                                        <li><i class="fa fa-star"></i></li>
                                                                        <li><i class="fa fa-star-half-o"></i></li>
                                                                        <li><i class="fa fa-star-o"></i></li>
                                                                    </ul>
                                                                    <div class="rate-count">(<span>3.5</span>)</div>
                                                                </div>
                                                                <p>Duis tincidunt mauris ac aliquet congue. Donec vestibulum consequat cursus. Aliquam pellentesque nulla dolor, in imperdiet.</p>
                                                            </div>
                                                        </div>
                                                        <!--/ End Single Rating -->
                                                        <!-- Single Rating -->
                                                        <div class="single-rating">
                                                            <div class="rating-author">
                                                                <img src="images/comments2.jpg" alt="#">
                                                            </div>
                                                            <div class="rating-des">
                                                                <h6>Advin Geri</h6>
                                                                <div class="ratings">
                                                                    <ul class="rating">
                                                                        <li><i class="fa fa-star"></i></li>
                                                                        <li><i class="fa fa-star"></i></li>
                                                                        <li><i class="fa fa-star"></i></li>
                                                                        <li><i class="fa fa-star"></i></li>
                                                                        <li><i class="fa fa-star"></i></li>
                                                                    </ul>
                                                                    <div class="rate-count">(<span>5.0</span>)</div>
                                                                </div>
                                                                <p>Duis tincidunt mauris ac aliquet congue. Donec vestibulum consequat cursus. Aliquam pellentesque nulla dolor, in imperdiet.</p>
                                                            </div>
                                                        </div>
                                                        <!--/ End Single Rating -->
                                                    </div>
                                                    <!-- Review -->
                                                    <div class="comment-review">
                                                        <div class="add-review">
                                                            <h5>Add A Review</h5>
                                                            <p>Your email address will not be published. Required fields are marked</p>
                                                        </div>
                                                        <h4>Your Rating</h4>
                                                        <div class="review-inner">
                                                            <div class="ratings">
                                                                <ul class="rating">
                                                                    <li><i class="fa fa-star"></i></li>
                                                                    <li><i class="fa fa-star"></i></li>
                                                                    <li><i class="fa fa-star"></i></li>
                                                                    <li><i class="fa fa-star"></i></li>
                                                                    <li><i class="fa fa-star"></i></li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!--/ End Review -->
                                                    <!-- Form -->
                                                    <form class="form" method="post" action="mail/mail.php">
                                                        <div class="row">
                                                            <div class="col-lg-6 col-12">
                                                                <div class="form-group">
                                                                    <label>Your Name<span>*</span></label>
                                                                    <input type="text" name="name" required="required" placeholder="">
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-6 col-12">
                                                                <div class="form-group">
                                                                    <label>Your Email<span>*</span></label>
                                                                    <input type="email" name="email" required="required" placeholder="">
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-12 col-12">
                                                                <div class="form-group">
                                                                    <label>Write a review<span>*</span></label>
                                                                    <textarea name="message" rows="6" placeholder=""></textarea>
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-12 col-12">
                                                                <div class="form-group button5">
                                                                    <button type="submit" class="btn">Submit</button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </form>
                                                    <!--/ End Form -->
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!--/ End Reviews Tab -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--/ End Shop Single -->
    <!-- Start Most Popular -->
    <div class="product-area most-popular related-product section">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-title">
                        <h2>Related Products</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="owl-carousel popular-slider owl-theme owl-loaded">
                        <div class="owl-stage-outer">
                            <div class="owl-stage" style="transform: translate3d(-1995px, 0px, 0px); transition: all 0.4s ease 0s; width: 3420px;">
                                <div class="owl-item cloned" style="width: 285px; margin-right: 0px;">
                                    <div class="single-product">
                                        <div class="product-img">
                                            <a href="product-details.html">
                                                <img class="default-img" src="images/products/p15.jpg" alt="#">
                                                <img class="hover-img" src="images/products/p16.jpg" alt="#">
                                                <span class="out-of-stock">Hot</span>
                                            </a>
                                            <div class="button-head">
                                                <div class="product-action">
                                                    <a data-toggle="modal" data-target="#exampleModal" title="Quick View" href="#"><i class=" ti-eye"></i><span>Quick Shop</span></a>
                                                    <a title="Wishlist" href="#"><i class=" ti-heart "></i><span>Add to Wishlist</span></a>
                                                    <a title="Compare" href="#"><i class="ti-bar-chart-alt"></i><span>Add to Compare</span></a>
                                                </div>
                                                <div class="product-action-2">
                                                    <a title="Add to cart" href="#">Add to cart</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="product-content">
                                            <h3><a href="product-details.html">Black Sunglass For Women</a></h3>
                                            <div class="product-price">
                                                <span class="old">$60.00</span>
                                                <span>$50.00</span>
                                            </div>
                                        </div>
                                    </div>
                                </div><div class="owl-item cloned" style="width: 285px; margin-right: 0px;">
                                    <div class="single-product">
                                        <div class="product-img">
                                            <a href="product-details.html">
                                                <img class="default-img" src="images/products/p1.jpg" alt="#">
                                                <img class="hover-img" src="images/products/p2.jpg" alt="#">
                                            </a>
                                            <div class="button-head">
                                                <div class="product-action">
                                                    <a data-toggle="modal" data-target="#exampleModal" title="Quick View" href="#"><i class=" ti-eye"></i><span>Quick Shop</span></a>
                                                    <a title="Wishlist" href="#"><i class=" ti-heart "></i><span>Add to Wishlist</span></a>
                                                    <a title="Compare" href="#"><i class="ti-bar-chart-alt"></i><span>Add to Compare</span></a>
                                                </div>
                                                <div class="product-action-2">
                                                    <a title="Add to cart" href="#">Add to cart</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="product-content">
                                            <h3><a href="product-details.html">Women Hot Collection</a></h3>
                                            <div class="product-price">
                                                <span>$50.00</span>
                                            </div>
                                        </div>
                                    </div>
                                </div><div class="owl-item cloned" style="width: 285px; margin-right: 0px;">
                                    <div class="single-product">
                                        <div class="product-img">
                                            <a href="product-details.html">
                                                <img class="default-img" src="images/products/p3.jpg" alt="#">
                                                <img class="hover-img" src="images/products/p4.jpg" alt="#">
                                                <span class="new">New</span>
                                            </a>
                                            <div class="button-head">
                                                <div class="product-action">
                                                    <a data-toggle="modal" data-target="#exampleModal" title="Quick View" href="#"><i class=" ti-eye"></i><span>Quick Shop</span></a>
                                                    <a title="Wishlist" href="#"><i class=" ti-heart "></i><span>Add to Wishlist</span></a>
                                                    <a title="Compare" href="#"><i class="ti-bar-chart-alt"></i><span>Add to Compare</span></a>
                                                </div>
                                                <div class="product-action-2">
                                                    <a title="Add to cart" href="#">Add to cart</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="product-content">
                                            <h3><a href="product-details.html">Awesome Pink Show</a></h3>
                                            <div class="product-price">
                                                <span>$50.00</span>
                                            </div>
                                        </div>
                                    </div>
                                </div><div class="owl-item cloned" style="width: 285px; margin-right: 0px;">
                                    <div class="single-product">
                                        <div class="product-img">
                                            <a href="product-details.html">
                                                <img class="default-img" src="images/products/p5.jpg" alt="#">
                                                <img class="hover-img" src="images/products/p6.jpg" alt="#">
                                            </a>
                                            <div class="button-head">
                                                <div class="product-action">
                                                    <a data-toggle="modal" data-target="#exampleModal" title="Quick View" href="#"><i class=" ti-eye"></i><span>Quick Shop</span></a>
                                                    <a title="Wishlist" href="#"><i class=" ti-heart "></i><span>Add to Wishlist</span></a>
                                                    <a title="Compare" href="#"><i class="ti-bar-chart-alt"></i><span>Add to Compare</span></a>
                                                </div>
                                                <div class="product-action-2">
                                                    <a title="Add to cart" href="#">Add to cart</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="product-content">
                                            <h3><a href="product-details.html">Awesome Bags Collection</a></h3>
                                            <div class="product-price">
                                                <span>$50.00</span>
                                            </div>
                                        </div>
                                    </div>
                                </div><div class="owl-item" style="width: 285px; margin-right: 0px;">
                                    <div class="single-product">
                                        <div class="product-img">
                                            <a href="product-details.html">
                                                <img class="default-img" src="images/products/p15.jpg" alt="#">
                                                <img class="hover-img" src="images/products/p16.jpg" alt="#">
                                                <span class="out-of-stock">Hot</span>
                                            </a>
                                            <div class="button-head">
                                                <div class="product-action">
                                                    <a data-toggle="modal" data-target="#exampleModal" title="Quick View" href="#"><i class=" ti-eye"></i><span>Quick Shop</span></a>
                                                    <a title="Wishlist" href="#"><i class=" ti-heart "></i><span>Add to Wishlist</span></a>
                                                    <a title="Compare" href="#"><i class="ti-bar-chart-alt"></i><span>Add to Compare</span></a>
                                                </div>
                                                <div class="product-action-2">
                                                    <a title="Add to cart" href="#">Add to cart</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="product-content">
                                            <h3><a href="product-details.html">Black Sunglass For Women</a></h3>
                                            <div class="product-price">
                                                <span class="old">$60.00</span>
                                                <span>$50.00</span>
                                            </div>
                                        </div>
                                    </div>
                                </div><div class="owl-item" style="width: 285px; margin-right: 0px;">
                                    <div class="single-product">
                                        <div class="product-img">
                                            <a href="product-details.html">
                                                <img class="default-img" src="images/products/p1.jpg" alt="#">
                                                <img class="hover-img" src="images/products/p2.jpg" alt="#">
                                            </a>
                                            <div class="button-head">
                                                <div class="product-action">
                                                    <a data-toggle="modal" data-target="#exampleModal" title="Quick View" href="#"><i class=" ti-eye"></i><span>Quick Shop</span></a>
                                                    <a title="Wishlist" href="#"><i class=" ti-heart "></i><span>Add to Wishlist</span></a>
                                                    <a title="Compare" href="#"><i class="ti-bar-chart-alt"></i><span>Add to Compare</span></a>
                                                </div>
                                                <div class="product-action-2">
                                                    <a title="Add to cart" href="#">Add to cart</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="product-content">
                                            <h3><a href="product-details.html">Women Hot Collection</a></h3>
                                            <div class="product-price">
                                                <span>$50.00</span>
                                            </div>
                                        </div>
                                    </div>
                                </div><div class="owl-item" style="width: 285px; margin-right: 0px;">
                                    <div class="single-product">
                                        <div class="product-img">
                                            <a href="product-details.html">
                                                <img class="default-img" src="images/products/p3.jpg" alt="#">
                                                <img class="hover-img" src="images/products/p4.jpg" alt="#">
                                                <span class="new">New</span>
                                            </a>
                                            <div class="button-head">
                                                <div class="product-action">
                                                    <a data-toggle="modal" data-target="#exampleModal" title="Quick View" href="#"><i class=" ti-eye"></i><span>Quick Shop</span></a>
                                                    <a title="Wishlist" href="#"><i class=" ti-heart "></i><span>Add to Wishlist</span></a>
                                                    <a title="Compare" href="#"><i class="ti-bar-chart-alt"></i><span>Add to Compare</span></a>
                                                </div>
                                                <div class="product-action-2">
                                                    <a title="Add to cart" href="#">Add to cart</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="product-content">
                                            <h3><a href="product-details.html">Awesome Pink Show</a></h3>
                                            <div class="product-price">
                                                <span>$50.00</span>
                                            </div>
                                        </div>
                                    </div>
                                </div><div class="owl-item active" style="width: 285px; margin-right: 0px;">
                                    <div class="single-product">
                                        <div class="product-img">
                                            <a href="product-details.html">
                                                <img class="default-img" src="images/products/p5.jpg" alt="#">
                                                <img class="hover-img" src="images/products/p6.jpg" alt="#">
                                            </a>
                                            <div class="button-head">
                                                <div class="product-action">
                                                    <a data-toggle="modal" data-target="#exampleModal" title="Quick View" href="#"><i class=" ti-eye"></i><span>Quick Shop</span></a>
                                                    <a title="Wishlist" href="#"><i class=" ti-heart "></i><span>Add to Wishlist</span></a>
                                                    <a title="Compare" href="#"><i class="ti-bar-chart-alt"></i><span>Add to Compare</span></a>
                                                </div>
                                                <div class="product-action-2">
                                                    <a title="Add to cart" href="#">Add to cart</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="product-content">
                                            <h3><a href="product-details.html">Awesome Bags Collection</a></h3>
                                            <div class="product-price">
                                                <span>$50.00</span>
                                            </div>
                                        </div>
                                    </div>
                                </div><div class="owl-item cloned active" style="width: 285px; margin-right: 0px;">
                                    <div class="single-product">
                                        <div class="product-img">
                                            <a href="product-details.html">
                                                <img class="default-img" src="images/products/p15.jpg" alt="#">
                                                <img class="hover-img" src="images/products/p16.jpg" alt="#">
                                                <span class="out-of-stock">Hot</span>
                                            </a>
                                            <div class="button-head">
                                                <div class="product-action">
                                                    <a data-toggle="modal" data-target="#exampleModal" title="Quick View" href="#"><i class=" ti-eye"></i><span>Quick Shop</span></a>
                                                    <a title="Wishlist" href="#"><i class=" ti-heart "></i><span>Add to Wishlist</span></a>
                                                    <a title="Compare" href="#"><i class="ti-bar-chart-alt"></i><span>Add to Compare</span></a>
                                                </div>
                                                <div class="product-action-2">
                                                    <a title="Add to cart" href="#">Add to cart</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="product-content">
                                            <h3><a href="product-details.html">Black Sunglass For Women</a></h3>
                                            <div class="product-price">
                                                <span class="old">$60.00</span>
                                                <span>$50.00</span>
                                            </div>
                                        </div>
                                    </div>
                                </div><div class="owl-item cloned active" style="width: 285px; margin-right: 0px;">
                                    <div class="single-product">
                                        <div class="product-img">
                                            <a href="product-details.html">
                                                <img class="default-img" src="images/products/p1.jpg" alt="#">
                                                <img class="hover-img" src="images/products/p2.jpg" alt="#">
                                            </a>
                                            <div class="button-head">
                                                <div class="product-action">
                                                    <a data-toggle="modal" data-target="#exampleModal" title="Quick View" href="#"><i class=" ti-eye"></i><span>Quick Shop</span></a>
                                                    <a title="Wishlist" href="#"><i class=" ti-heart "></i><span>Add to Wishlist</span></a>
                                                    <a title="Compare" href="#"><i class="ti-bar-chart-alt"></i><span>Add to Compare</span></a>
                                                </div>
                                                <div class="product-action-2">
                                                    <a title="Add to cart" href="#">Add to cart</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="product-content">
                                            <h3><a href="product-details.html">Women Hot Collection</a></h3>
                                            <div class="product-price">
                                                <span>$50.00</span>
                                            </div>
                                        </div>
                                    </div>
                                </div><div class="owl-item cloned active" style="width: 285px; margin-right: 0px;">
                                    <div class="single-product">
                                        <div class="product-img">
                                            <a href="product-details.html">
                                                <img class="default-img" src="images/products/p3.jpg" alt="#">
                                                <img class="hover-img" src="images/products/p4.jpg" alt="#">
                                                <span class="new">New</span>
                                            </a>
                                            <div class="button-head">
                                                <div class="product-action">
                                                    <a data-toggle="modal" data-target="#exampleModal" title="Quick View" href="#"><i class=" ti-eye"></i><span>Quick Shop</span></a>
                                                    <a title="Wishlist" href="#"><i class=" ti-heart "></i><span>Add to Wishlist</span></a>
                                                    <a title="Compare" href="#"><i class="ti-bar-chart-alt"></i><span>Add to Compare</span></a>
                                                </div>
                                                <div class="product-action-2">
                                                    <a title="Add to cart" href="#">Add to cart</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="product-content">
                                            <h3><a href="product-details.html">Awesome Pink Show</a></h3>
                                            <div class="product-price">
                                                <span>$50.00</span>
                                            </div>
                                        </div>
                                    </div>
                                </div><div class="owl-item cloned" style="width: 285px; margin-right: 0px;">
                                    <div class="single-product">
                                        <div class="product-img">
                                            <a href="product-details.html">
                                                <img class="default-img" src="images/products/p5.jpg" alt="#">
                                                <img class="hover-img" src="images/products/p6.jpg" alt="#">
                                            </a>
                                            <div class="button-head">
                                                <div class="product-action">
                                                    <a data-toggle="modal" data-target="#exampleModal" title="Quick View" href="#"><i class=" ti-eye"></i><span>Quick Shop</span></a>
                                                    <a title="Wishlist" href="#"><i class=" ti-heart "></i><span>Add to Wishlist</span></a>
                                                    <a title="Compare" href="#"><i class="ti-bar-chart-alt"></i><span>Add to Compare</span></a>
                                                </div>
                                                <div class="product-action-2">
                                                    <a title="Add to cart" href="#">Add to cart</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="product-content">
                                            <h3><a href="product-details.html">Awesome Bags Collection</a></h3>
                                            <div class="product-price">
                                                <span>$50.00</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div><div class="owl-controls"><div class="owl-nav"><div class="owl-prev" style=""><i class="ti-angle-left"></i></div><div class="owl-next" style=""><i class="ti-angle-right"></i></div></div><div class="owl-dots" style="display: none;"></div></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Most Popular Area -->
    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span class="ti-close" aria-hidden="true"></span></button>
                </div>
                <div class="modal-body">
                    <div class="row no-gutters">
                        <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                            <!-- Product Slider -->
                            <div class="product-gallery">
                                <div class="quickview-slider-active owl-carousel owl-theme owl-hidden owl-loaded">




                                    <div class="owl-stage-outer">
                                        <div class="owl-stage" style="transform: translate3d(-1650px, 0px, 0px); transition: all 0.4s ease 0s; width: 4400px;">
                                            <div class="owl-item cloned" style="width: 550px; margin-right: 0px;">
                                                <div class="single-slider">
                                                    <img src="images/modal3.png" alt="#">
                                                </div>
                                            </div><div class="owl-item cloned" style="width: 550px; margin-right: 0px;">
                                                <div class="single-slider">
                                                    <img src="images/modal4.png" alt="#">
                                                </div>
                                            </div><div class="owl-item" style="width: 550px; margin-right: 0px;">
                                                <div class="single-slider">
                                                    <img src="images/modal1.png" alt="#">
                                                </div>
                                            </div><div class="owl-item active" style="width: 550px; margin-right: 0px;">
                                                <div class="single-slider">
                                                    <img src="images/modal2.png" alt="#">
                                                </div>
                                            </div><div class="owl-item" style="width: 550px; margin-right: 0px;">
                                                <div class="single-slider">
                                                    <img src="images/modal3.png" alt="#">
                                                </div>
                                            </div><div class="owl-item" style="width: 550px; margin-right: 0px;">
                                                <div class="single-slider">
                                                    <img src="images/modal4.png" alt="#">
                                                </div>
                                            </div><div class="owl-item cloned" style="width: 550px; margin-right: 0px;">
                                                <div class="single-slider">
                                                    <img src="images/modal1.png" alt="#">
                                                </div>
                                            </div><div class="owl-item cloned" style="width: 550px; margin-right: 0px;">
                                                <div class="single-slider">
                                                    <img src="images/modal2.png" alt="#">
                                                </div>
                                            </div>
                                        </div>
                                    </div><div class="owl-controls"><div class="owl-nav"><div class="owl-prev" style=""><i class=" ti-arrow-left"></i></div><div class="owl-next" style=""><i class=" ti-arrow-right"></i></div></div><div class="owl-dots" style="display: none;"></div></div>
                                </div>
                            </div>
                            <!-- End Product slider -->
                        </div>
                        <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                            <div class="quickview-content">
                                <h2>Flared Shift Dress</h2>
                                <div class="quickview-ratting-review">
                                    <div class="quickview-ratting-wrap">
                                        <div class="quickview-ratting">
                                            <i class="yellow fa fa-star"></i>
                                            <i class="yellow fa fa-star"></i>
                                            <i class="yellow fa fa-star"></i>
                                            <i class="yellow fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                        </div>
                                        <a href="#"> (1 customer review)</a>
                                    </div>
                                    <div class="quickview-stock">
                                        <span><i class="fa fa-check-circle-o"></i> in stock</span>
                                    </div>
                                </div>
                                <h3>$29.00</h3>
                                <div class="quickview-peragraph">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia iste laborum ad impedit pariatur esse optio tempora sint ullam autem deleniti nam in quos qui nemo ipsum numquam.</p>
                                </div>
                                <div class="size">
                                    <div class="row">
                                        <div class="col-lg-6 col-12">
                                            <h5 class="title">Size</h5>
                                            <select style="display: none;">
                                                <option selected="selected">s</option>
                                                <option>m</option>
                                                <option>l</option>
                                                <option>xl</option>
                                            </select><div class="nice-select" tabindex="0"><span class="current">s</span><ul class="list"><li data-value="s" class="option selected">s</li><li data-value="m" class="option">m</li><li data-value="l" class="option">l</li><li data-value="xl" class="option">xl</li></ul></div>
                                        </div>
                                        <div class="col-lg-6 col-12">
                                            <h5 class="title">Color</h5>
                                            <select style="display: none;">
                                                <option selected="selected">orange</option>
                                                <option>purple</option>
                                                <option>black</option>
                                                <option>pink</option>
                                            </select><div class="nice-select" tabindex="0"><span class="current">orange</span><ul class="list"><li data-value="orange" class="option selected">orange</li><li data-value="purple" class="option">purple</li><li data-value="black" class="option">black</li><li data-value="pink" class="option">pink</li></ul></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="quantity">
                                    <!-- Input Order -->
                                    <div class="input-group">
                                        <div class="button minus">
                                            <button type="button" class="btn btn-primary btn-number" disabled="disabled" data-type="minus" data-field="quant[1]">
                                                <i class="ti-minus"></i>
                                            </button>
                                        </div>
                                        <input type="text" name="quant[1]" class="input-number" data-min="1" data-max="1000" value="1">
                                        <div class="button plus">
                                            <button type="button" class="btn btn-primary btn-number" data-type="plus" data-field="quant[1]">
                                                <i class="ti-plus"></i>
                                            </button>
                                        </div>
                                    </div>
                                    <!--/ End Input Order -->
                                </div>
                                <div class="add-to-cart">
                                    <a href="#" class="btn">Add to cart</a>
                                    <a href="#" class="btn min"><i class="ti-heart"></i></a>
                                    <a href="#" class="btn min"><i class="fa fa-compress"></i></a>
                                </div>
                                <div class="default-social">
                                    <h4 class="share-now">Share:</h4>
                                    <ul>
                                        <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
                                        <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
                                        <li><a class="youtube" href="#"><i class="fa fa-pinterest-p"></i></a></li>
                                        <li><a class="dribbble" href="#"><i class="fa fa-google-plus"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal end -->
    <!-- Start Footer Area -->
    <footer class="footer">
        <!-- Footer Top -->
        <div class="footer-top section">
            <div class="container">
                <div class="row">
                    <div class="col-lg-5 col-md-6 col-12">
                        <!-- Single Widget -->
                        <div class="single-footer about">
                            <div class="logo">
                                <a href="index.html"><img src="/images/logo2.png" alt="#"></a>
                            </div>
                            <p class="text">Praesent dapibus, neque id cursus ucibus, tortor neque egestas augue,  magna eros eu erat. Aliquam erat volutpat. Nam dui mi, tincidunt quis, accumsan porttitor, facilisis luctus, metus.</p>
                            <p class="call">Got Question? Call us 24/7<span><a href="tel:123456789">+0123 456 789</a></span></p>
                        </div>
                        <!-- End Single Widget -->
                    </div>
                    <div class="col-lg-2 col-md-6 col-12">
                        <!-- Single Widget -->
                        <div class="single-footer links">
                            <h4>Information</h4>
                            <ul>
                                <li><a href="#">About Us</a></li>
                                <li><a href="#">Faq</a></li>
                                <li><a href="#">Terms &amp; Conditions</a></li>
                                <li><a href="/Home/Contact">Contact Us</a></li>
                                <li><a href="#">Help</a></li>
                            </ul>
                        </div>
                        <!-- End Single Widget -->
                    </div>
                    <div class="col-lg-2 col-md-6 col-12">
                        <!-- Single Widget -->
                        <div class="single-footer links">
                            <h4>Customer Service</h4>
                            <ul>
                                <li><a href="#">Payment Methods</a></li>
                                <li><a href="#">Money-back</a></li>
                                <li><a href="#">Returns</a></li>
                                <li><a href="#">Shipping</a></li>
                                <li><a href="#">Privacy Policy</a></li>
                            </ul>
                        </div>
                        <!-- End Single Widget -->
                    </div>
                    <div class="col-lg-3 col-md-6 col-12">
                        <!-- Single Widget -->
                        <div class="single-footer social">
                            <h4>Get In Tuch</h4>
                            <!-- Single Widget -->
                            <div class="contact">
                                <ul>
                                    <li>NO. 342 - London Oxford Street.</li>
                                    <li>012 United Kingdom.</li>
                                    <li>info@eshop.com</li>
                                    <li>+032 3456 7890</li>
                                </ul>
                            </div>
                            <!-- End Single Widget -->
                            <ul>
                                <li><a href="#"><i class="ti-facebook"></i></a></li>
                                <li><a href="#"><i class="ti-twitter"></i></a></li>
                                <li><a href="#"><i class="ti-flickr"></i></a></li>
                                <li><a href="#"><i class="ti-instagram"></i></a></li>
                            </ul>
                        </div>
                        <!-- End Single Widget -->
                    </div>
                </div>
            </div>
        </div>
        <!-- End Footer Top -->
        <div class="copyright">
            <div class="container">
                <div class="inner">
                    <div class="row">
                        <div class="col-lg-6 col-12">
                            <div class="left">
                                <p>Copyright © 2020 <a href="http://www.wpthemesgrid.com" target="_blank">Wpthemesgrid</a>  -  All Rights Reserved.</p>
                            </div>
                        </div>
                        <div class="col-lg-6 col-12">
                            <div class="right">
                                <img src="images/payments.png" alt="#">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- /End Footer Area -->
    <!-- Jquery -->
    <script src="/js/jquery.min.js"></script>
    <script src="/js/jquery-migrate-3.0.0.js"></script>
    <script src="/js/jquery-ui.min.js"></script>
    <!-- Popper JS -->
    <script src="/js/popper.min.js"></script>
    <!-- Bootstrap JS -->
    <script src="/js/bootstrap.min.js"></script>
    <!-- Color JS -->
    <script src="/js/colors.js"></script>
    <!-- Slicknav JS -->
    <script src="/js/slicknav.min.js"></script>
    <!-- Owl Carousel JS -->
    <script src="/js/owl-carousel.js"></script>
    <!-- Magnific Popup JS -->
    <script src="/js/magnific-popup.js"></script>
    <!-- Fancybox JS -->
    <script src="/js/facnybox.min.js"></script>
    <!-- Waypoints JS -->
    <script src="/js/waypoints.min.js"></script>
    <!-- Countdown JS -->
    <script src="/js/finalcountdown.min.js"></script>
    <!-- Nice Select JS -->
    <script src="/js/nicesellect.js"></script>
    <!-- Ytplayer JS -->
    <script src="/js/ytplayer.min.js"></script>
    <!-- Flex Slider JS -->
    <script src="/js/flex-slider.js"></script>
    <!-- ScrollUp JS -->
    <script src="/js/scrollup.js"></script>
    <!-- Onepage Nav JS -->
    <script src="/js/onepage-nav.min.js"></script>
    <!-- Easing JS -->
    <script src="/js/easing.js"></script>
    <!-- Active JS -->
    <script src="/js/active.js"></script>

    <a id="scrollUp" href="#top" style="position: fixed; z-index: 2147483647; display: none;"><span><i class="fa fa-angle-up"></i></span></a>
</body>
</html>